<p-card header="Смена пароля" styleClass="custom-card">
  <form *ngIf="changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="mb-3">
    <div class="mt-3">
      <span class="mx-3">Текущий пароль</span>
      <input
        type="password"
        class="mt-3"
        pInputText
        formControlName="currentPassword"
      />
    </div>

    <div class="mt-3">
      <span class="mx-3">Новый пароль</span>
      <input
        type="password"
        class="mt-3"
        pInputText
        formControlName="newPassword"
      />
    </div>
    <div class="mt-3">
      <span class="mx-3">Старый пароль</span>
      <input
        type="password"
        class="mt-3"
        pInputText
        formControlName="repeatNewPassword"
      />
    </div>
    <div class="mt-4">
      <button
        class="btn-primary btn"
        type="submit"
        [disabled]="!changePasswordForm.valid"
      >
        Сменить пароль
      </button>
    </div>
  </form>
  <p-checkbox [(ngModel)]="throwException" [label]="'Сгенерировать исключение'" [binary]="true"></p-checkbox>
  </p-card>
<p-toast position="bottom-left"></p-toast>
